body																{color:#000; font-size:100%; font-family: 'Open Sans', sans-serif; padding-top: 90px} 
html																{width:100%; -webkit-text-size-adjust: 100%;}
h1, h2, h3															{word-wrap:break-word; line-height: 110%; margin-bottom: 20px;}
h1																	{font-size: 250%; font-family: 'Titillium Web', sans-serif; font-weight: 600;}
h2																	{font-size: 160.3%; font-weight: 700;}
h3																	{font-size: 112.5%; font-weight: 700; margin-bottom: 5px; margin-top: 30px;}

a 																	{outline:0; cursor: pointer; -webkit-tap-highlight-color: rgba(0,0,0,0); -webkit-tap-highlight-color: transparent;}
a:link, a:visited, a:active											{color: #000; text-decoration:underline;}
a:hover																{color: #000; text-decoration:none;}

.partClearBoth														{height: 1px; clear: both;}
.basicContainer														{max-width:840px; min-width: 280px; margin: 40px auto; padding: 0px 20px 0px 20px;}

/* Showing code */
xmp 																{width: auto; overflow: auto; max-height: 600px; margin:0px 0px 35px 0px; padding: 0px 20px 15px 20px; background-color: #f5f5f5; line-height: 140%;}
/* end showing code */

#topBar 															{width: 100%; height:90px; background-color: #00b7c7; position: fixed; left:0; top:0; z-index: 1;}
	#logo 																{background: url(logo.svg) no-repeat; background-size: contain; height: 50px; width: 201px; margin:0px auto; display: block;}
	.mobileMenuButton, #backButton  									{float: left; cursor: pointer; border:solid 2px #fff; padding:10px; margin-left: 20px; font-weight: 600; color:#fff; text-decoration: none; border-radius: 4px; transition: background 0.2s;}
	#backButton:before 													{content: '\003c'; margin-right: 8px; font-weight: 700;}
	.mobileMenuButton:hover, #backButton:hover 							{color: #00b7c7; background-color:#fff;}

#mobileMenuContainer 												{position: fixed; overflow-x:hidden; background-color:#f5f5f5; z-index: 1000; top:0; left:0; margin-left: -30%; padding:20px; width: 30%; height: 100%; transition: 0.5s;}
#mobileMenuContainer.mobileMenuContainerActive 						{margin-left: 0px; transition: 0.5s; min-width: 320px;}
.mobileMenuOpen, .mobileMenuClose 									{}
.mobileMenuOpen, #backButton, #logo									{position: relative; top: 50%; transform: translateY(-50%);}
.mobileMenuClose  													{margin-left: 0px; float: none; color: #e33e36; border-color: #e33e36; display: inline-block; transition: background 0.2s;}
.mobileMenuClose:hover 												{color: #fff; background-color: #e33e36;}
.mobileMenuClose:before 											{content: '\00d7'; margin-right: 8px; font-weight: 700;}

#mobileMenuOverlay 													{transition: 0.2s; background-color: rgba(0,0,0,0.0); position: fixed; top:0; left: 0; height: 100%; width: 100%; z-index: 999; visibility: hidden; opacity: 0;} 
#mobileMenuOverlay.mobileMenuContainerActive  						{background-color: rgba(0,0,0,0.8); visibility: visible; opacity: 1;}

#mobileMenuContainer ul 											{word-wrap:break-word; font-size: 87.5%;}
#mobileMenuContainer ul li 											{margin-top: 20px; line-height: 140%;}
#mobileMenuContainer ul li a 										{text-decoration: none;}
#mobileMenuContainer ul li a:hover 									{text-decoration: underline;}

#mobileMenuContainer 												{margin-left: 0px; margin-top: 90px; height: calc(100% - 90px); width: 19%;}
.mobileMenuButton 													{display: none;}