@media (max-width: 1366px){
	#mobileMenuContainer 							{margin-left: -30%; margin-top: 0px; height: 100%; width: 30%;}
	.mobileMenuButton 								{display: inline-block;}
}

@media (max-width: 1023px){
	#logo 											{float: right; margin-right: 20px;}
}

@media (max-width: 600px){
	#backButton 									{overflow: hidden; width: 40px; height: 40px;}
	#backButton:before 								{margin-left: 3px; margin-right: 10px; margin-bottom: 10px; display: block;}
	#logo 											{width: 121px; height: 30px;}
	#mobileMenuContainer.mobileMenuContainerActive 	{width: 100%; margin-left: 0%;}
	#mobileMenuContainer 							{margin-left: -100%;}
}